body {
  font-family: sans-serif;
  font-size: 16px;
}

h1 {
  font-size: 300%;
  line-height: 100%;
  text-align: center;
}

#masthead {
  padding: 1rem 1rem 2rem 1rem;
  border-bottom: 2px solid #000;
  margin-bottom: 1rem;
}

p {
  margin: 0 auto;
  max-width: 30rem;
  min-width: 20rem;
  line-height: 1.8em;
}

a {
  text-decoration: none;
}

table {
  margin: 1rem auto;
}

#country-list {
  width: 66rem;
}

th {
  padding: 0 1rem;
  color: #fff;
  background-color: #000;
}

tr {
  height: 2rem;
}

td {
  padding: 0 1em;
}

.row-odd {
  background-color: #f0f8ff;
}

.row-even {
  background-color: #fffff0;
}

.column-code {
  text-align: center;
}

.column-number {
  text-align: right;
}

#country-details {
  width: 30rem;
}

#country-details td {
  width: 50%;
}

.country-value {
  text-align: right;
}

#country-graphics {
  width: 50rem;
  margin: 1rem auto;
}

#map, #flag {
  width: 45%;
  vertical-align: middle;
}

#flag {
  float: right;
}

.action {
  width: 30rem;
  margin: 1rem auto;
  text-align: center;
}

.btn {
  margin: 0 0.5rem;
  padding: 4px;
  border: 1px solid #000;
  border-radius: 5px;
}

